<h2>Hello, <%= @account.person.first_name %></h2>

<p>
  You have successfully signed up to bookparking.dev<br/>
  To login to the site, just follow this link: <%= login_url %><br/>
  Thanks for joining and have a great day!
</p>
